################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.angular/cache/14.2.6
/.vs
/node_modules/.cli-ngcc
