<body>
    <div style="margin: 2%;">
  <div style="text-align: left;margin-top: 50px;"><h3>Wydarzenia</h3></div>
  
  
  <div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Data</th>
        <th scope="col">Zarządzanie</th>
      </tr>
    </thead>
    <tbody>
      <ng-container>
        <tr app-events *ngFor="let event of EventsList" [event]="event"></tr>
      </ng-container>
    </tbody>
  </table>
  </div>
  </div>
  </body>